app-product-item:host{
  background:white;
  display: flex;
  flex-flow: column wrap;
  max-width: 280px;
  min-width: 280px;
  flex: 1;
  padding: 2rem;
  border-radius: 13px;
  border:1px solid hsla(0, 0, 91, .9);
  box-shadow: 0 30px 60px -12px rgba(50,50,93,0.25),0 18px 36px -18px rgba(0,0,0,0.3);
  & .itemTitle{
    font-weight: 800;
  } 
  & img{
    align-self: center;
    max-width: 120px;
    margin-bottom: 1rem;
  }
}