<div id="loginCtnr">
  <p class="questionText dismissText">¿Ya estás registrado?</p>
  <p class="questionText boldText">Inicia Sesión</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 offset-4" style="padding-right: 0;">
        <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="loginUser()">
          <div class="col">
            <label for="emailAdress" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control form-control-sm" id="emailAdress" formControlName="email">
          </div>
          <div class="col">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control form-control-sm" id="password" formControlName="password">
          </div>
          <!-- <input type="text" [(ngModel)]="credentials.email" name="email"/> -->
          <!-- <input type="password" [(ngModel)]="credentials.password" name="password"/> -->
          <button class="btn btn-primary btn-sm" type="submit">Iniciar Sesión</button>
          
        </form>
      </div>
    </div>

  </div>
  
    
</div>

<div id="signupCtnr">
  <p>¿Aún no estás registrado?</p>
  <p>Registrate</p>
</div>